img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}
figcaption {
    text-align: center;
}
iframe{
    margin: 0 auto;
    display: block;
}
table {
    margin: 0 auto;
    display: block;
    width: fit-content;
}
.table {
    margin: 0 auto;
    display: block;
    width: fit-content;
    margin-bottom: 1em;
}
table, th, td {
    border: 1px solid rgb(120, 120, 120);
    border-collapse: collapse;
}
body {
    align-content: center;
}
.menu {
    height: 10%;
}
.sousligne {
    text-decoration: underline;
}