/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: #fffafa;
$link-color: #75AADB;
// Code blocks
$code-block-bg-alpha: -.8;
// Sidebar
// $sidebar-bg: #4d5d53;
// $navbar-bg: #4d5d53;

thead {
    background-color: #7b6e29;
}